/* FORM.SASS */

.section-form
    width: 60%
    margin: 0 auto

input[type=text], input[type=email]select, textarea
    width: 100%
    padding: 7px
    border-radius: 10px
    border: 1px solid #ccc

input[type=checkbox]
    margin: 10px 5px 10px 0

textarea
    height: 100px

*
    &:focus
        outline: none

.form-messages
    width: 70%
    margin: 0 auto
    padding: 10px
    border-radius: 3px
    margin-bottom: 20px

.success
    background-color: #26bf4577

.error
    background-color: #e908088e
